# Node
node_modules
npm-debug.log

# Build and cache
.angular
.angular/cache
dist
coverage
**/*.tsbuildinfo
**/*.log

# Version control
.git
.gitignore
.github

# Development
.vscode
.editorconfig

# Configuration files
.dockerignore
Dockerfile

# Scripts (not needed in production)
scripts/
